* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-image: url("images/background.jpg");
    background-size: cover;
    filter: brightness(70%);
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

nav a:hover {
    color: black;
    
}

nav {
    max-width: 1100px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.header-content {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-content h1 {
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.header-content h3 {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: rgb(65, 65, 210);
    padding: 15px 60px;
    border-radius: 5px;
}
.btn:hover {
    background-color: rgb(6, 6, 196);
}

