* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-image: url("images/background.jpg");
    background-size: cover;
    box-shadow: 1px 1px 10px 405px rgba(0, 0, 0, 0.3) inset;
}



nav li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

nav a:hover {
    color: black;
    
}

nav {
    max-width: 1100px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.header-content {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-content h1 {
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.header-content h3 {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: rgb(63, 47, 209);
    padding: 15px 45px;
    border-radius: 5px;
}



/* --------------------page-2-------------------- */

.container .text-wrap{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 35px;
}

.text-wrap h2 {
    font-size: 28px;
    color: rgb(48, 47, 47);
    margin-bottom: 20px;
}

.text-wrap p {
    font-size: 16px;
    color: rgba(48, 47, 47, 0.76);
    margin-bottom: 60px;
}

hr {
    width: 250px;
    margin: auto;
    color: rgb(91, 91, 163);
}

.img-1 {
    height: 324px;
    overflow: hidden;
    flex: 1 1 330px;
}

.img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
    padding-right: 10px;
}




.img-2 {
    height: 324px;
    overflow: hidden;
    flex: 1 1 770px;
}

.img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
}



.img-3 {
    height: 324px;
    overflow: hidden;
    flex: 1 1 770px;
}

.img-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 10px;
}



.img-4 {
    height: 324px;
    overflow: hidden;
    flex: 1 1 330px;
}

.img-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.image-container {
    display: flex;
}

.image-wrap {
    margin-bottom: 70px;
}

/* --------------------page-3-------------------- */

.container-1 {
    border: 1px solid rgb(241, 240, 240);
    background-color: rgb(241, 240, 240);
}

.container-1 .text-wrap-1 {
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}

.container-1 .text-wrap-1 h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(48, 47, 47);
    margin-top: 70px;
}

.container-1 .text-wrap-1 p {
    font-size: 16px;
    color: rgba(48, 47, 47, 0.8);
    margin-bottom: 60px;
}

.icon-wrap-content-1 {
    display: flex;
    text-align: center;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 120px;
}

.G-tour {
    width: 370px;
}

.P-tour {
    width: 370px;
}

.icon-wrap-content-2 {
    display: flex;
    text-align: center;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 120px;
}

.B-tour {
    width: 350px;
}

.S-tour {
    width: 350px;
}

i {
    font-size: 50px;
    color: rgb(151, 151, 248);
    margin-bottom: 20px;
    line-height: 10px;
 }

 .icon-wrap h2 {
    font-size: 28px;
    color: rgb(48, 47, 47);
    margin-bottom: 25px;
 }
 .icon-wrap p {
    font-size: 16px;
    color: rgba(48, 47, 47, 0.76);
 }

 /* --------------------page-3-------------------- */

.testimonial {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 70px;
} 

.testimonial h2 {
    font-size: 28px;
    color: rgb(48, 47, 47);
    margin-bottom: 55px;
}

.testimonial-content {
    text-align: center;
    width: 675px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.testimonial-1-content p {
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(48, 47, 47);
}

.author {
    font-size: 16px;
    color: rgba(48, 47, 47, 0.76);
}

.testimonial-1-content {
    margin-bottom: 55px;
}